<main>
  <div class="hero">
    <img src="assets/images/team-office-birdseye.jpg" alt="AboutUs">

    <div class="heroTextContainer">
      <div class="aboutHeroText">

        <h2>About Us</h2>

      </div>
    </div>

  </div>

  <div class ="teamIntro">

    <div class="teamIntroImage">
      <img src="assets/images/handshake2.jpg" alt="handshaking lawyers">
    </div>

    <div class="teamIntroText">
      <hr class="solidLine">

      <p>
        Our team is composed of hard working, responsive and dedicated individuals. We work with small start-ups, corporations with global reach, REITS and many private investors. Our clients are from different industries such as manufacturing, transportation, franchise operators, restaurant owners, family owned businesses and many small to medium sized businesses all across Ontario. We are accessible and responsive and we can help you manage your business risk, assist with your day to day legal needs or work with your team to manage the challenges associated with growth or downsizing.
      </p>
    </div>

  </div>

  <section class="ourTeam">

    <h1 id="ourTeam">Our Team</h1>

    <div class="ourTeamItems">

      <div class="ourTeamItem">
        <img src="../../../assets/images/team/Jennifer_L.png" alt="Jennifer Labrecque">

        <h2>Jennifer Labrecque</h2>
        <h3>Lawyer</h3>
        <br>
        <p>
          Since 2004, Jennifer has maintained a law practice focused on commercial and residential real estate, commercial leasing and corporate commercial matters. Most of her career has been spent in-house in corporate counsel roles supporting the needs of various business units including providing corporate strategic initiatives and legal expertise. Jennifer has also worked with many startups and entrepreneurs looking to scale their business and has extensive experience representing clients on several development projects, leading or assisting with negotiations of dispositions, acquisitions and leasing of commercial, industrial and residential properties. Her many years of working outside of private practice have provided her with a unique approach to the provision of legal services.
        </p>
      </div>

      <div class="ourTeamItem">
        <img src="../../../assets/images/team/Sumeet_S.PNG" alt="Sumeet Singh">

        <h2>Sumeet Singh</h2>
        <h3>Lawyer</h3>
        <br>
        <p>
          Sumeet brings extensive knowledge in completing pre-construction real estate transactions and land acquisitions for the purpose of land development. He has also gained experience in Corporate Immigration while working with mid-size corporations by gaining approvals for foreign skilled workers to fill in gaps of growing businesses.

          Sumeet is dedicated to finding affective and practical solutions to his client’s businesses and legal issues and delivering optimal outcomes when facing complexities and deadlines. Prior to his legal career, he has maintained the role of Director of Operations for 5 years in a fast-growing real estate start-up based out of Toronto. With a passion for real estate law and a desire to make an impact to his clients and their businesses, Sumeet decided to pursue law and was called to the Bar in 2022.
        </p>
      </div>

      <div class="ourTeamItem">
        <img src="../../../assets/images/team/Pam_A.jpeg" alt="Pam Angad">

        <h2>Pam Angad</h2>
        <h3>Senior Real Estate Clerk</h3>
        <br>
        <p>
          Pamela joined Legal Lab in August 2022 and is our lead commercial real estate clerk. Pamela has over 10 years of real estate experience and handles acquisitions, dispositions and refinancing files.
        </p>
      </div>

      <div class="ourTeamItem">
        <img src="../../../assets/images/team/Sandra_G.PNG" alt="Sandra Gill">

        <br>
        <h2>Sandra Gill</h2>
        <h3>Senior Corporate and Commercial Real Estate Clerk</h3>
        <br>
        <p>
          Sandra joins us from a mid-size law firm and has over 25 years of experience in M&A Transactions, Commercial Real Estate and Secured Lending Transactions. Sandra works closely with Jennifer and Sumeet on all corporate transactions, including complex M&A Transactions, commercial financing matters, incorporations, corporate amendments, continuances, dissolutions, corporate reorganizations and corporate maintenance. Sandra has extensive experience in drafting complex share attributes for complex incorporations and amendments.   Sandra has been a member of The Institution of Law Clerks of Ontario since 1995.  Sandra also leads our “special projects” and is an indispensable member of our team.
        </p>
      </div>

      <div class="ourTeamItem">
        <img src="../../../assets/images/team/Shirisha_M.jpeg" alt="Shirisha Modoor">

        <br>
        <h2>Shirisha Modoor</h2>
        <h3>Senior Real Estate Clerk</h3>
        <br>
        <p>
          Shirisha is our lead residential clerk. She handles all residential purchase, sale and refinance transactions. With more than 20 years of real estate experience she thrives in the chaos of a transactional practice.
        </p>
      </div>

      <div class="ourTeamItem">
        <img src="../../../assets/images/team/Klara_L.jpeg" alt="Klara Lallinaj">

        <br>
        <h2>Klara Lallinaj</h2>
        <h3>Residential Real Estate Clerk</h3>
        <br>
        <p>
          Klara joined our firm in June 2023. Klara is our intake clerk and assist with residential transactions and interim occupancies.
        </p>
      </div>

    </div>

  </section>

</main>
