<footer>

  <div class="footerLogo">
    <img src="assets/images/LegalLabLogo.png">
  </div>

  <div class="footerContact">

    <h2>Contact Us</h2>

    <br>

    <div class="footerLocations">
      <div class="contactLocItem">
        <h3>Mississauga</h3>
        <p>1370 Hurontario St.</p>
        <p>Mississauga, Ontario</p>
        <p>L5G 3H4</p>
      </div>

      <div class="contactLocItem">
        <h3>Vaughan</h3>
        <p>206-4550 Hwy 7</p>
        <p>Woodbridge, Ontario</p>
        <p>L4L 7B9</p>
      </div>
    </div>


    <br>
    <p>info@legallab.ca</p>

  </div>

  <div class="footerConnect">
    <h2>Get Connected</h2>

    <div class="socialMediaLinks">
      <a href="https://www.instagram.com/legallab_law/?hl=en"> <img src="assets/images/Instagram_Glyph_Gradient.png">  </a>

      <a href="https://ca.linkedin.com/company/legal-lab-law"><img src="assets/images/Linked-In-Bug.png"> </a>
    </div>

  </div>

</footer>
