

<main>

  <div class="homeHero">
    <img src="assets/images/HandShake.jpg" alt="handshake">

    <div class="heroTextContainer">
      <div class="herotext">

        <h2>From start-ups to Forbes list: results oriented customized legal solutions.</h2>

        <p>Providing tailor-made legal services for entrepreneurs and established business professionals. Are we the right fit for your legal needs?</p>

        <a class="learnButton" routerLink="/services">Let’s Find Out!</a>
      </div>
    </div>

  </div>


  <div class="disneyQuote">

    <h3>"If you can dream it, you can do it"</h3>
    <p>Walt Disney</p>

  </div>

  <div class ="welcomeToLegal">

    <div class="welcomeImage">
      <!-- <img src="assets/images/meeting-client.jpg"> -->
      <img src="assets/images/meeting-client.jpg" alt="meeting with client image">
    </div>

    <div class="welcomeText">
      <h2>Welcome to Legal Lab</h2>

      <p> At Legal Lab, our focus is on collaboration. We use our expertise for the benefit of our clients to ensure that their legal needs are serviced on time and on budget. We believe in transparency and honesty, and we also believe that the best relationships are those that are forged on trust and mutual respect. Let’s work together to achieve your goals.</p>
    </div>

  </div>

  <div class="testimonialsSect">

    <img src="assets/images/handshake-happy-people.jpg" loading="lazy" alt="lawyers-and-client">
    <div class="testimonialsContainer">

      <div class="testimonialBlock">

        <div class="testimonialTitleText">
          <h1>Testimonials</h1>
        </div>

        <div class="testimonialCarousel">

          <ngb-carousel
            #carousel
            [interval]="4500"
            [pauseOnHover]="pauseOnHover"
            [pauseOnFocus]="pauseOnFocus"
            [showNavigationArrows]="false"

            style="height: 100%; background-color: rgba(2, 255, 255, 0);"
          >
          <ng-template ngbSlide class="testimonialSlide">
            <div class="testimonialContent">
              <div class="testimonialContentBlock">

                <div class="testimonialText">
                  <h2>"...Dedicated, professional, and approachable"</h2>
                  <br>
                  <p>"Jennifer helped us with our first home purchase. She is dedicated, professional, and approachable.
                    Jennifer went above and beyond to help us out when we had questions or issues. Also great pricing and lots of value."</p>
                </div>
                <div class="testimonialClient">
                  <p class="starRating">&#9733; &#9733; &#9733; &#9733; &#9733;</p>
                  <p>Fanyu Yang</p>
                </div>

              </div>
            </div>
          </ng-template>

            <ng-template ngbSlide class="testimonialSlide">
              <div class="testimonialContent">
                <div class="testimonialContentBlock">
                  <div class="testimonialText">
                    <h2>"Would highly recommend her and her team as a lawyer myself!"</h2>
                    <br>
                    <p>
                      "Jennifer is a knowledgeable, caring, and responsive lawyer. She helped us with our first home purchase and educated us about the process and risks.
                      Jennifer was also a fierce, fair, and practical advocate for us when we encountered issues on closing.
                      Her team is also great. Would highly recommend her and her team as a lawyer myself!"
                    </p>
                  </div>

                  <div class="testimonialClient">
                    <p class="starRating">&#9733; &#9733; &#9733; &#9733; &#9733;</p>
                    <p>Harvey Lam</p>
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template ngbSlide class="testimonialSlide">
              <div class="testimonialContent">
                <div class="testimonialContentBlock">
                  <div class="testimonialText">
                    <h2>"...Saved our deal and we are thankful"</h2>

                    <p>"Great working with Sumeet. He saved our deal and we are thankful for his assistance."</p>
                  </div>

                  <div class="testimonialClient">
                    <p class="starRating">&#9733; &#9733; &#9733; &#9733; &#9733;</p>
                    <p>Desiree Candles</p>
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template ngbSlide class="testimonialSlide">
              <div class="testimonialContent">
                <div class="testimonialContentBlock">
                  <div class="testimonialText">
                    <h2>"...Quick and efficient and very nice."</h2>

                    <p>"Jennifer helped me with a legal document I needed.  She was quick and efficient and very nice."</p>
                  </div>

                  <div class="testimonialClient">
                    <p class="starRating">&#9733; &#9733; &#9733; &#9733; &#9733;</p>
                    <p>Janet Clare</p>
                  </div>
                </div>
              </div>
            </ng-template>

          </ngb-carousel>
        </div>

        <a
          class="testimonialButton"
          href="https://www.google.com/search?q=legal+lab+google+review&client=firefox-b-d&sxsrf=ALiCzsZA-rsS4zi73rzInCz9JKX7pv9jkg%3A1665855357814&ei=fe9KY6ulMeurptQP55Ax&ved=0ahUKEwjr1-Xm4uL6AhXrlYkEHWdIDAAQ4dUDCA0&uact=5&oq=legal+lab+google+review&gs_lcp=Cgdnd3Mtd2l6EAMyBwgjELADECcyCggAEEcQ1gQQsAMyCggAEEcQ1gQQsAMyCggAEEcQ1gQQsAMyCggAEEcQ1gQQsAMyCggAEEcQ1gQQsAMyCggAEEcQ1gQQsAMyCggAEEcQ1gQQsAMyCggAEEcQ1gQQsAMyDQgAEOQCENYEELADGAEyDQgAEOQCENYEELADGAEyDQgAEOQCENYEELADGAEyDQgAEOQCENYEELADGAEyDQgAEOQCENYEELADGAFKBAhNGAFKBAhBGABKBAhGGAFQAFgAYJAJaAFwAXgAgAEAiAEAkgEAmAEAyAEOwAEB2gEGCAEQARgJ&sclient=gws-wiz#lrd=0x882b47dbc257f559:0x3e62456d0f00eafe,1,,,">
          See More
        </a>

      </div>

    </div>



  </div>

  <section class="practiceAreas">

    <hr class="solidLine">

    <h1>Practice Areas</h1>
    <p>Here's how we can help you!</p>

    <div class="practiceItems">

      <div class="practiceItem">
        <a routerLink="/services" fragment="commercial-residential">
          <img src="assets/images/Commercial-and-Residential.jpg" loading="lazy" alt="commercial and residential">
        </a>

        <h2>Commercial & Residential Real Estate Law</h2>
      </div>

      <div class="practiceItem">
        <a routerLink="/services" fragment="condo-development">
          <img src="assets/images/condo-and-development.jpg" loading="lazy" alt="condo and development">
        </a>

        <h2>Condominium & Development Law</h2>
      </div>

      <div class="practiceItem">
        <!-- <a routerLink="services.html#secured-lending"><img src="assets/images/Secured-Lending.jpg" alt="secured landing"></a> -->
        <a routerLink="/services" fragment="secured-lending">
          <img src="assets/images/Secured-Lending.jpg" loading="lazy" alt="secured landing">
        </a>

        <h2>Secured Lending/Private Mortgages</h2>
      </div>

      <div class="practiceItem">
        <a routerLink="/services" fragment="corporate-comm">
          <img src="assets/images/Corporate-Commercial-2048x1366.jpg" loading="lazy" alt="corporate commercial">
        </a>

        <h2>Corporate & Commercial Law</h2>
      </div>

      <div class="practiceItem">
        <a routerLink="/services" fragment="commercial-leasing">
          <img src="assets/images/Commercial-Leasing-2048x1367.jpg" loading="lazy" alt="commercial leasing">
        </a>
        <h2>Commercial Leasing</h2>
      </div>

    </div>

  </section>

</main>
